:root{
    --primery-font:Roboto ;
    --logo-font:Raleway :
    --accent-color: #2196F3;

}

*{
    list-style: none
}
*{
    text-decoration: none;
}
.body-font{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* =========Header=========== */
.logo-link{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: #2196F3;
}

.logo {
    color: black;
}
.logo-white{
    color: white;
}
.header-nav-link{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
    
}
.header-nav-link:hover, 
.header-nav-link:focus {
    color: #2196F3;
}
.header-contact{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}

.header-contact:hover,
.header-contact:focus {
    color: #2196F3;}
/* =======Header========= */

/* =========Main=========== */
.hero-title{
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        /* color: #FFFFFF */
}
.hero-button{
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
         color: #FFFFFF 
}

.hero-button:hover,
.hero-button:focus{
    background-color:#2196F3
    
}
.hero-button{
    cursor: pointer;
}
.main-advantages{

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.main-advant-text{
   
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
.about-us-title{
   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-title{
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-name{
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.about-team{

        font-weight: 400;
        font-size: 16px;
        line-height:1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}